.playerControls {
    display: flex;
    flex-direction: row;
    padding: 0 27px 0 31px;
}
  
.playerBtnPrev,
.playerBtnPlay,
.playerBtnNext,
.playerBtnRepeat,
.playerBtnShuffle {
    padding: 5px;
    display: flex;
    align-items: center;
}
  
.playerBtnPrev {
    margin-right: 23px;
}
  
.playerBtnPrevSvg {
    width: 15px;
    height: 14px;
}
  
.playerBtnPlay {
    margin-right: 23px;
}
  
.playerBtnPlaySvg {
    width: 22px;
    height: 20px;
    fill: #d9d9d9;
}
  
.playerBtnNext {
    margin-right: 28px;
    fill: #a53939;
}
  
.playerBtnNextSvg {
    width: 15px;
    height: 14px;
    fill: inherit;
    stroke: #d9d9d9;
}
  
.playerBtnRepeat {
    margin-right: 24px;
}
  
.playerBtnRepeatSvg {
    width: 18px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
}

.playerBtnRepeatSvgActive {
    width: 18px;
    height: 12px;
    fill: transparent;
    stroke: #ffffff;
}
  
.playerBtnShuffle {
    display: flex;
    align-items: center;
}
  
.playerBtnShuffleSvg {
    width: 19px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
}

.btnIcon:hover svg {
    fill: transparent;
    stroke: #acacac;
    cursor: pointer;
}
  
.btnIcon:active svg {
    fill: transparent;
    stroke: #ffffff;
    cursor: pointer;
}

.btn {
    cursor: pointer;
}